<mat-toolbar color="primary">
  <span>Ethereum Todo Lists</span>
</mat-toolbar>

<div fxLayout="column" fxLayoutAlign="space-between center">
  <div class="width-90">
    <div fxLayout="row" class="m-10">
      <mat-form-field class="max-width">
        <mat-label>Add Task</mat-label>
        <input matInput placeholder="Your Task ..." />
      </mat-form-field>

      <button class="m-10" mat-raised-button color="primary">Save</button>
    </div>

    <mat-divider></mat-divider>

    <mat-card class="m-10">Simple card</mat-card>
    <mat-card class="m-10">Simple card</mat-card>
    <mat-card class="m-10">Simple card</mat-card>
    <mat-card class="m-10">Simple card</mat-card>
  </div>
</div>
